li{
	font-style:italic;
}

.artist, .title{
	font-family: serif;
	font-size: 16px;
}

.background{
	height: 300px;
	margin: auto;
	width: 300px;
	background-image:url("A7X The Stage.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: center;
}


a{
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: lightgreen;
}

a:active{
	text-decoration: none;
}

tbody{
	font-style: italic;
	text-align: center;
}

tbody tr:nth-child(even){
	background-color: lightgreen;
}

tbody tr:nth-child(odd){
	background-color: mediumspringgreen;
}

.table-responsive{
	border: 1;
	width: 100%;
}