	.header{
		text-align: center;
		font-family: 'Dancing Script', cursive;
		margin-top: -20px;
		margin-bottom: -11px;
		background-color: #96858F;
	}

	.footer{
		text-align: center;
		bottom: auto;
		width: 100%;
		position: absolute;
		background-color: #6D7993;
	}


	body{
		margin: 0;
		padding: 0;
	}
	
	.required{
		font-weight: bold;
	}

	.nav{
		background-color: #9099A2;
	}

	.nav a{
		
	}

	.nav a:link{
		color: blue;
		text-decoration: underline;
	}

	.nav a:visited{
		color: orange;
		text-decoration: underline;
	}

	.nav a:hover{
		font-weight: bold;
		text-decoration: underline;
	}

	.nav a:active{
		text-decoration: none;
	}

	.contactForm{
		
	}

	.jumbotron{
		bottom-margin: 0px;
	}

	.homeBackground{
		height: 318px;
		background-color: #D5D5D5;
	}

	.menuBackground{
		height: 587px;
		background-color: #D5D5D5;
	}

	.contactUsBackground{
		height: 604px;
		background-color: #D5D5D5;
	}

	.btn-primary{
		background-color:orange;
	}